<!-- Navigation -->

<style>
	.cool-fonts{
		font-family: 'Gochi Hand', cursive;
		font-size:20px;
	}
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class="container">
		<a class="navbar-brand" href="#/">Book My Show</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarResponsive" aria-controls="navbarResponsive"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active"><a class="nav-link" href="#/user/{{model.userId}}">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#/user/{{model.userId}}/profile">Profile</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#/">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>

<!-- Page Content -->
<div class="container">

	<!-- Page Heading -->
	<h1 class="my-4">Movie Details</h1>

	<div class="row">
		<div class="col-md-6">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item"
					ng-src="{{trustSrc(model.movie.trailerUrl)}}" frameborder="0"
					allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col-md-6">
			<h2>{{model.movie.title}}</h2>
			<br /> <i class="fa fa-heart" style="font-size: 23px; color: red"></i>
			<b>{{model.movie.stars}}</b> <span class="pull-right"><b>{{model.movie.voteCount}}
					votes</b></span> <br /> <br />
			<h4>Synopsis:</h4>
			<p>{{model.movie.plot}}</p>
			<button type="button" class="btn btn-danger btn-lg btn-block"
				ng-click="model.displayMovieShows(model.movie.id)">Book Now</button>
		</div>
	</div>
	<!-- /.row -->
	<br />
	<div>
		<h2>Reviews:</h2>
	</div>
	<div><!--ng-show="model.userId"-->
		<textarea class="form-control" rows="2"  ng-model="model.review.description"></textarea>
		<button ng-click="model.postReview(model.review)" class="form-control btn-details btn btn-block btn-success">Post</button><br>
	</div>


	<div ng-repeat="review in model.reviews">
		<div class="card bg-light" style="height: inherit">
		<div class="card-body alert alert-default">
			<div><label>Reviewed By <font color="#a52a2a">{{review.user.username}}</font>:</label></div>
			<div><label class="cool-fonts"><font color="#4169e1">{{review.description}}</font></label><br><label class="text-muted"></label></div>
	</div>
	</div>
		<br>
	</div>
</div>