<div class="container">
    <h1>Register</h1>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <input ng-model="model.user.username"
           type="text"
           class="form-control"
           placeholder="username"/>
    <input ng-model="model.user.password"
           type="password"
           class="form-control"
           placeholder="password"/>
    <input type="password"
           class="form-control"
           placeholder="verify password"/>
    <input ng-model="model.user.email"
           type="email"
           class="form-control"
           placeholder="email ID">
    <input ng-model="model.user.firstName"
           type="text"
           class="form-control"
           placeholder="first name">
    <input ng-model="model.user.lastName"
           type="text"
           class="form-control"
           placeholder="last name">
    <input ng-model="model.user.phone"
           type="text"
           class="form-control"
           placeholder="phone number">
    <a class="btn btn-primary btn-block"
       ng-click="model.registerUser(model.user)">Register</a>
    <a class="btn btn-danger  btn-block"
       href="#/login">Cancel</a>
</div>
