<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class="container">
		<a class="navbar-brand" href="#/">Book My Show</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarResponsive" aria-controls="navbarResponsive"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link"
					href="#/user/{{model.userId}}">Home </a></li>
				<li class="nav-item active"><a class="nav-link" href="">Profile
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#/">LogOut</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container padding-top ">
	<h2 ng-show="model.user.username" class="alert alert-warning">Welcome
		{{model.user.firstName}}!</h2>
	<div class="pull-right">
		<h5>Wallet Amount: {{model.user.wallet}}$</h5>
	</div>
	<br />
	<div class="alert alert-danger" ng-show="model.error" role="alert">
		{{model.error}}</div>

	<div class="alert alert-success" ng-show="model.message" role="alert">
		{{model.message}}</div>

	<div class="form-group">
		<label class="label-color" for="username">Username</label>
		<div class="input-group mb-2 mr-sm-2 mb-sm-0 slideanim">
			<div class="input-group-addon ">
				<span class="glyphicon glyphicon-user text-color"></span>
			</div>
			<input required ng-model="model.user.username" type="text"
				class="form-control text-color" id="username">
		</div>
	</div>
	<div class="form-group">
		<label class="label-color" for="email">Email address</label>
		<div class="input-group mb-2 mr-sm-2 mb-sm-0">
			<div class="input-group-addon ">
				<span class="glyphicon glyphicon-envelope text-color"></span>
			</div>
			<input required ng-model="model.user.email" type="email"
				class="form-control  text-color" id="email">
		</div>
	</div>
	<div class="form-group">
		<label class="label-color" for="first-name">First Name</label>
		<div class="input-group mb-2 mr-sm-2 mb-sm-0 slideanim">
			<div class="input-group-addon ">
				<span class="glyphicon glyphicon-user text-color"></span>
			</div>
			<input ng-model="model.user.firstName" type="text"
				class="form-control  text-color" id="first-name">
		</div>
	</div>
	<div class="form-group">
		<label class="label-color" for="last-name">Last Name</label>
		<div class="input-group mb-2 mr-sm-2 mb-sm-0 slideanim">
			<div class="input-group-addon ">
				<span class="glyphicon glyphicon-user text-color"></span>
			</div>
			<input ng-model="model.user.lastName" type="text"
				class="form-control  text-color" id="last-name">
		</div>
	</div>
	<div class="form-group">
		<label class="label-color" for="phone-number">Phone Number</label>
		<div class="input-group mb-2 mr-sm-2 mb-sm-0">
			<div class="input-group-addon ">
				<span class="glyphicon glyphicon-earphone text-color"></span>
			</div>
			<input required ng-model="model.user.phone" type="text"
				class="form-control  text-color" id="phone-number">
		</div>
	</div>
	<div class="form-group">
		<label class="label-color" for="address">Address</label> <input
			ng-model="model.user.address.street1" type="text"
			class="form-control" placeholder="Street 1"><input
			ng-model="model.user.address.street2" type="text"
			class="form-control" placeholder="Street 2"><input
			ng-model="model.user.address.city" type="text" class="form-control"
			placeholder="city"><input ng-model="model.user.address.state"
			type="text" class="form-control" placeholder="State"><input
			ng-model="model.user.address.zip" type="text" class="form-control"
			placeholder="Zip Code">
	</div>



	<a class="btn btn-danger btn-block"
		ng-click="model.deleteuser(model.user.id)">Unregister</a> <a
		class="btn btn-primary  btn-block"
		ng-click="showDiv=false; model.updateUser(model.user)"
		href="#/user/{{model.user.id}}/profile">Update</a> <br> <label>My
		Tickets</label>

	<div class="container-fluid" style="height: 350px">
		<table class="table">
			<thead class="thead-dark" style="background-color: white">
				<tr>
					<th scope="col">Booking Number</th>
					<th scope="col">Theatre Name</th>
					<th scope="col">Theatre Location</th>
					<th scope="col">Movie Name</th>
					<th scope="col">Date</th>
					<th scope="col">Time</th>
					<th scope="col">Seats</th>
				</tr>
			</thead>
			<tbody style="overflow-y: scroll; height: 200px; width: 100%;">
				<tr ng-repeat="ticket in model.tickets">
					<td>{{ticket.id}}</td>
					<td>{{ticket.theatreName}}</td>
					<td>{{ticket.theatreAdress}}</td>
					<td>{{ticket.movieName}}</td>
					<td>{{ticket.date}}</td>
					<td>{{ticket.time}}</td>
					<td>{{ticket.seatsBooked.toString()}}</td>
			</tbody>
		</table>
	</div>
	<br> <label>My Reviews</label>

	<div ng-repeat="review in model.reviews">
		<div class="card bg-light" style="height: inherit">
			<div class="card-body alert alert-default">
				<div>
					<label><font color="#a52a2a">{{review.movie.title}}</font>:</label>
					<a class="fa fa-remove button pull-right"
						ng-click="model.deleteReview(review.id)" href=""></a>
				</div>
				<div>
					<label class="cool-fonts"><font color="#4169e1">{{review.description}}</font></label><br>
					<label class="text-muted"></label>
				</div>
			</div>
		</div>
		<br>
	</div>

	<br> <label>You are Following</label>

	<div ng-repeat="following in model.following">
		<label><a href="">{{following.username}}</a></label>
	</div>



</div>