<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class="container">
		<a class="navbar-brand" href="#/">Book My Show</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarResponsive" aria-controls="navbarResponsive"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active"><a class="nav-link"
					href="#/user/{{model.userId}}">Home <span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link"
					href="#/user/{{model.userId}}/profile">Profile</a></li>
				<li class="nav-item"><a class="nav-link" href="#/">LogOut</a></li>
			</ul>
		</div>
	</div>
</nav>

<!-- Page Content -->
<div class="container">

	<!-- Page Heading -->
	<h1 class="my-4">Select your seats</h1>
	
	<div class="alert alert-danger" ng-show="model.error" role="alert">
        {{model.error}}
    </div>

	<div class="seatStructure">
		<table class="table" id="seatsBlock">
			<p id="notification"></p>
			<tr>
				<td colspan="14"><div class="screen">SCREEN</div></td>
				<td rowspan="20">
					<div class="smallBox greenBox">Selected Seat</div> <br />
					<div class="smallBox redBox">Reserved Seat</div> <br />
					<div class="smallBox emptyBox">Empty Seat</div> <br />
				</td>

				<br />
			</tr>

			<tr>
				<td></td>
				<td>1</td>
				<td>2</td>
				<td>3</td>
				<td>4</td>
				<td>5</td>
				<td>6</td>
				<td>7</td>
				<td>8</td>
				<td>9</td>
				<td>10</td>
				<td>11</td>
				<td>12</td>
			</tr>

			<tr>
				<td>A</td>
				<td ng-repeat="seat in aSeats">
				<input
				    type="checkbox"
				    name="selectedSeats[]"
				    value="{{seat}}"
				    ng-class="{red: booked.indexOf(seat) > -1}"
				    ng-disabled="booked.seatNumber.indexOf(seat) > -1"
				    ng-checked="selection.indexOf(seat) > -1"
				    ng-click="toggleSelection(seat)">
				</td>
			</tr>

			<tr>
				<td>B</td>
				<td ng-repeat="seat in bSeats">
				<input
				    type="checkbox"
				    name="selectedSeats[]"
				    value="{{seat}}"
				    ng-class="{red: booked.indexOf(seat) > -1}"
				    ng-disabled="booked.indexOf(seat) > -1"
				    ng-checked="selection.indexOf(seat) > -1"
				    ng-click="toggleSelection(seat)">
				</td>
			</tr>

			<tr>
				<td>C</td>
				<td ng-repeat="seat in cSeats">
				<input
				    type="checkbox"
				    name="selectedSeats[]"
				    value="{{seat}}"
				    ng-class="{red: booked.indexOf(seat) > -1}"
				    ng-disabled="booked.indexOf(seat) > -1"
				    ng-checked="selection.indexOf(seat) > -1"
				    ng-click="toggleSelection(seat)">
				</td>
			</tr>

			<tr>
				<td>D</td>
				<td ng-repeat="seat in dSeats">
				<input
				    type="checkbox"
				    name="selectedSeats[]"
				    value="{{seat}}"
				    ng-class="{red: booked.indexOf(seat) > -1}"
				    ng-disabled="booked.indexOf(seat) > -1"
				    ng-checked="selection.indexOf(seat) > -1"
				    ng-click="toggleSelection(seat)">
				</td>
			</tr>

			<tr>
				<td>E</td>
				<td ng-repeat="seat in eSeats">
				<input
				    type="checkbox"
				    name="selectedSeats[]"
				    value="{{seat}}"
				    ng-class="{red: booked.indexOf(seat) > -1}"
				    ng-disabled="booked.indexOf(seat) > -1"
				    ng-checked="selection.indexOf(seat) > -1"
				    ng-click="toggleSelection(seat)">
				</td>
			</tr>

			<tr class="seatVGap"></tr>

			<tr>
				<td>F</td>
				<td ng-repeat="seat in fSeats">
				<input
				    type="checkbox"
				    name="selectedSeats[]"
				    value="{{seat}}"
				    ng-class="{red: booked.indexOf(seat) > -1}"
				    ng-disabled="booked.indexOf(seat) > -1"
				    ng-checked="selection.indexOf(seat) > -1"
				    ng-click="toggleSelection(seat)">
				</td>
			</tr>

			<tr>
				<td>G</td>
				<td ng-repeat="seat in gSeats">
				<input
				    type="checkbox"
				    name="selectedSeats[]"
				    value="{{seat}}"
				    ng-class="{red: booked.indexOf(seat) > -1}"
				    ng-disabled="booked.indexOf(seat) > -1"
				    ng-checked="selection.indexOf(seat) > -1"
				    ng-click="toggleSelection(seat)">
				</td>
			</tr>

			<tr>
				<td>H</td>
				<td ng-repeat="seat in hSeats">
				<input
				    type="checkbox"
				    name="selectedSeats[]"
				    value="{{seat}}"
				    ng-class="{red: booked.indexOf(seat) > -1}"
				    ng-disabled="booked.indexOf(seat) > -1"
				    ng-checked="selection.indexOf(seat) > -1"
				    ng-click="toggleSelection(seat)">
				</td>
			</tr>

			<tr>
				<td>I</td>
				<td ng-repeat="seat in iSeats">
				<input
				    type="checkbox"
				    name="selectedSeats[]"
				    value="{{seat}}"
				    ng-class="{red: booked.indexOf(seat) > -1}"
				    ng-disabled="booked.indexOf(seat) > -1"
				    ng-checked="selection.indexOf(seat) > -1"
				    ng-click="toggleSelection(seat)">
				</td>
			</tr>

			<tr>
				<td>J</td>
				<td ng-repeat="seat in jSeats">
				<input
				    type="checkbox"
				    name="selectedSeats[]"
				    value="{{seat}}"
				    ng-class="{red: booked.indexOf(seat) > -1}"
				    ng-disabled="booked.indexOf(seat) > -1"
				    ng-checked="selection.indexOf(seat) > -1"
				    ng-click="toggleSelection(seat)">
				</td>
			</tr>


		</table>

	</div>

	<br /> <br />

	<button type="button" class="btn btn-primary btn-block" ng-click="model.bookTickets()">Confirm Booking</button>
	<br/><br/>

</div>
<!-- /.container -->