<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#/">Book My Show</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a class="nav-link" href="#/">Home
                    <span class="sr-only">(current)</span>
                </a></li>
                <li class="nav-item"><a class="nav-link" href="#/">LogOut</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container padding-top ">

    <div class="alert alert-danger" ng-show="model.error" role="alert">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message" role="alert">
        {{model.message}}
    </div>

    <div class="form-group">
        <label class="label-color" for="username">Username </label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0 slideanim">
            <div class="input-group-addon divTransparent"><span class="glyphicon glyphicon-user text-color"></span></div>
            <input ng-model="model.editUser.username" type="text" disabled class="form-control text-color" id="username">
        </div>
    </div>
    <div class="form-group">
        <label  class="label-color" for="email">Email address</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon divTransparent"><span class="glyphicon glyphicon-envelope text-color"></span></div>
            <input ng-model="model.editUser.email" type="email" class="form-control text-color" id="email">
        </div>
    </div>
    <div class="form-group">
        <label class="label-color" for="first-name">First Name</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0 slideanim">
            <div class="input-group-addon divTransparent"><span class="glyphicon glyphicon-user text-color"></span></div>
            <input ng-model="model.editUser.firstName" type="text" class="form-control text-color" id="first-name" >
        </div>
    </div>
    <div class="form-group">
        <label class="label-color" for="last-name">Last Name</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0 slideanim">
            <div class="input-group-addon divTransparent"><span class="glyphicon glyphicon-user text-color"></span></div>
            <input ng-model="model.editUser.lastName" type="text" class="form-control text-color" id="last-name" >
        </div>
    </div>
    <div class="form-group">
        <label class="label-color" for="phone-number">Phone Number</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon divTransparent"><span class="glyphicon glyphicon-earphone text-color"></span></div>
            <input ng-model="model.editUser.phone" type="text" class="form-control  text-color" id="phone-number" >
        </div>
    </div>

    <label>Enter Address:</label>
    <input ng-model="model.editUser.address.street1" type="text"
           class="form-control" placeholder="Street 1"><input
        ng-model="model.editUser.address.street2" type="text" class="form-control"
        placeholder="Street 2"><input
        ng-model="model.editUser.address.city" type="text" class="form-control"
        placeholder="city"><input ng-model="model.editUser.address.state"
                                  type="text" class="form-control" placeholder="State"><input
        ng-model="model.editUser.address.zip" type="text" class="form-control"
        placeholder="Zip Code">


    <a ng-show="model.role == 'user'"  ng-click="model.updateUser(model.editUser)" class="btn btn-primary  btn-block">Update</a>
    <a ng-show="model.role == 'theatreOwner'"  ng-click="model.updateTheatreOwner(model.editUser)" class="btn btn-primary  btn-block">Update</a>
</div>
